{
	"callsign": "AB3IC-1",
	"passcode": "13404",
	"gateway": "ahubswe.net:2023",
	"append_callsign": false,
	"beacon": {
		"lat": 51.00000,
		"lng": 10.00000,
		"table": "/",
		"symbol": "&",
		"comment": "PyMultimonAPRS iGate",
		"status": "Running on Raspberry Pi with RTL dongle",
		"send_every": 300
	}
}
