[Unit]
Description=PyMultimonAPRS
After=network.target

[Service]
ExecStart=/usr/local/bin/pymultimonaprs --syslog

[Install]
WantedBy=multi-user.target
